<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plane.mapper.flightMapper">
    <select id="getFlightByMessage">
<!--        select *-->
<!--        from findFlightMessageAll-->
<!--        where airportLocation1 = #{airportLocation1}-->
<!--                and airportLocation2 = #{airportLocation2}-->
<!--                and takeoffTime between #{time1} and #{time2}-->
        {
            call procedure_getFlightByMessage (
                #{airportLocation1},
                #{airportLocation2},
                #{time1},
                #{time2}
            )
        }
    </select>

    <select id="getFlightByNo">
        {
            call procedure_getFlightByNo (
                #{flightNo}
            )
        }
    </select>

    <select id="getFlightAll">
        SELECT *
        FROM findFlightMessageAll
    </select>
</mapper>