<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plane.mapper.flightMapper">
    <select id="getFlightMessage">
        select
            flightNo, takeOffTime, landTime, economyClassTicket,
            businessClassTicket, ectMoney, bctMoney,
            airlineCompanyName, airportName1, airportName2
        from findFlightMessageAll
        where airportLocation1 = #{airportLocation1}
                and airportLocation2 = #{airportLocation2}
                and takeoffTime between #{time1} and #{time2}
    </select>
</mapper>