#administrator-newCompany{
    display: none;
}
#administrator-newPlane{
    display: none;
}
#administrator-newAirline{
    display: none;
}
#administrator-newFlight{
    display: none;
}
/*#administrator-ticketStrategy{*/
/*    display: none;*/
/*}*/
#administrator-allFlight{
    display: flex;
}
#administrator-bill {
    display: none;
}


/*input[datetime-local].administrator-datetime-local {*/
/*    font-family: Arial, sans-serif;*/
/*    font-size: 16px;*/
/*    color: #333;*/
/*    padding: 8px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    box-shadow: none;*/
/*    outline: none;*/
/*}*/

.ad {
    width: 600px;
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    align-items: center;
}
.ad h1 {
    text-align: center;
    color: #333333;
    margin-top: 0;
    margin-bottom: 25px;
}
.ad label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}
.ad input[type="text"], select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    color: #333333;
    box-sizing: border-box;
}
.ad button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.ad button:hover {
    background-color: #E24425;
}

#administrator-ticketStrategy {
    align-items: center;
}

#priceStrategy {
    display: none;
}

.priceStrategy-on {
    position: fixed;
    z-index: 10;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.19);
    top: 0;
    left: 0;
}

.priceStrategy-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    padding: 25px;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;
}

.priceStrategy-container {
    font-size: 15px;
}

.priceStrategy-container .floor {
    display: flex;
	justify-content: center;
	align-items: center;
}

.priceStrategy-container button {
    background: none;
	border: none;
	font-size: 16px;
	cursor: pointer;
}
