#administrator-newCompany{
    display: none;
}
#administrator-newPlane{
    display: none;
}
#administrator-newAirline{
    display: none;
}
#administrator-newFlight{
    display: none;
}
#administrator-ticketStrategy{
    display: none;
}
#administrator-allFlight{
    display: flex;
}

/*input[datetime-local].administrator-datetime-local {*/
/*    font-family: Arial, sans-serif;*/
/*    font-size: 16px;*/
/*    color: #333;*/
/*    padding: 8px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    box-shadow: none;*/
/*    outline: none;*/
/*}*/

.ad {
    width: 600px;
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    align-items: center;
}
.ad h1 {
    text-align: center;
    color: #333333;
    margin-top: 0;
    margin-bottom: 25px;
}
.ad label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}
.ad input[type="text"], select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    color: #333333;
    box-sizing: border-box;
}
.ad button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.ad button:hover {
    background-color: #E24425;
}

#administrator-ticketStrategy {
    align-items: center;
}